body {
  height: 100%;
  width: 100%;
  background-color: lightgray;
}
.parent {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.topNav {
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
}
.topNavRotate {
  transform: rotate(90deg);
}
.num {
  text-decoration: none;
  list-style: none;
}
#mainPartClosed {
  margin-top: 10px;
  border-radius: 12px;
  width: 300px;
  height: 0px;
  background-color: white;
  transition: all .5s;
}
.mainPartOpened {
  margin-top: 10px;
  border-radius: 12px;
  width: 300px;
  height: 400px;
  background-color: white;
  transition: all .5s;
}
#topImg {
  width: 40px;
  height: 40px;
  transition: all .5s;
}
